<div class="leaderboard container-fluid">
	<header class="row events-header">
		<div class="division-events" 
			ng-repeat="division in vm.divisions" 
			ng-show="vm.selectedDivision === division.name"
			>
			<div class="col-xs-4 event-title" 
				ng-repeat="event in division.athletes[0].events"
				ng-click="vm.showEvent(event.name)"				
				>
				<h3 ng-class="{active: vm.selectedEvent === event.name}">{{event.name | uppercase}}</h3>
			</div>
			<div class="col-xs-4 event-title"
				ng-click="vm.showEvent('overallRank')"	
				>
				<h3 ng-class="{active: vm.selectedEvent === 'overallRank'}">OVERALL</h3>
			</div>
		</div>
	</header>
	<main class="leaderboard-body" ng-repeat="division in vm.divisions" ng-show="vm.selectedDivision === division.name">
		<div class="row leaderboard-header">
			<div class="col-xs-4 leaderboard-header-title">Athlete</div>
			<div class="col-xs-4 leaderboard-header-title">Score</div>
			<div class="col-xs-4 leaderboard-header-title">Rank</div>
		</div>
		<div class="row" ng-repeat="athlete in division.athletes">
			<div class="col-xs-4 athlete-name">{{athlete.name}}</div>
			<div class="col-xs-4 athlete-event" 
				ng-repeat="event in athlete.events"
				ng-show="vm.selectedEvent == event.name"
				>
				{{event.score}}
			</div>
			<div class="col-xs-4 athlete-event"
				ng-show="vm.selectedEvent == 'overallRank'">
				{{athlete.overallRank}}
				</div>
		</div>
	</main>
	<footer class="row divisions-footer">
		<div class="col-xs-4 division-title" 
			ng-repeat="division in vm.divisions" 
			ng-click="vm.showDivision(division.name)"
			ng-class="{active: vm.selectedDivision === division.name}"
			>
			<h1>{{division.name}}</h1>
		</div>
	</footer>
</div>