<div class="leaderboard container-fluid">
	<header class="events-header">
		<div class="row">
			<div class="division-events" 
				ng-repeat="division in vm.divisions" 
				ng-show="vm.selectedDivision === division.name"
				>
				<div class="col-xs-4 event-title" 
					ng-repeat="event in division.events | limitTo:3"
					ng-click="vm.showEvent(event.name)"				
					>
					<h3 ng-class="{active: vm.selectedEvent === event.name}">{{event.name | uppercase}}</h3>
				</div>				
			</div>
		</div>
		<div class="row">
			<div class="division-events" 
				ng-repeat="division in vm.divisions" 
				ng-show="vm.selectedDivision === division.name"
				>
				<div class="col-xs-6 event-title" 
					ng-repeat="event in division.events | limitTo:3:3"
					ng-click="vm.showEvent(event.name)"				
					>
					<h3 ng-class="{active: vm.selectedEvent === event.name}">{{event.name | uppercase}}</h3>
				</div>		
			</div>				
		</div>
	</header>
	<main class="leaderboard-body" ng-repeat="division in vm.divisions" ng-show="vm.selectedDivision === division.name">
		<div class="row leaderboard-header">
			<div class="col-xs-4 leaderboard-header-title">Athlete</div>
			<div class="col-xs-4 leaderboard-header-title">Score</div>
			<div class="col-xs-4 leaderboard-header-title">Rank</div>
		</div>
		<div ng-repeat="event in division.events"
			ng-show="vm.selectedEvent == event.name">
			<div class="row" 
				ng-repeat="score in event.scores | orderBy:'value'"
				ng-animate="'animate'"
				>
				<div class="col-xs-4 athlete-name">{{score.athleteName}}</div>
				<div class="col-xs-4 athlete-event">{{score.value | secondsToDateTime | date:'mm:ss'}}</div>
				<div class="col-xs-4 athlete-event">{{$index+1}}</div>
			</div>
		</div>
	</main>
	<footer class="row divisions-footer">
		<div class="col-xs-4 division-title" 
			ng-repeat="division in vm.divisions" 
			ng-click="vm.showDivision(division.name)"
			ng-class="{active: vm.selectedDivision === division.name}"
			>
			<h1>{{division.name}}</h1>
		</div>
	</footer>
</div>